<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href='/static/css/text.css' />



  <title> Haynes' Law Firm</title>
</head>

<body>
<div id="outer"> <!-- Container created to give some padding space for the wrapper container-->
	<div id="wrapper"> <!-- Container inside the "outer container" for the entire HTML page layout-->
		<div id="logo">
			<img src="http://www.biz-logo.com/pre-designed-18/law-logo12.gif" width="153px" height="129px">
		</div>
	<div id="company-name"> <!-- ID/Container for the company name at the top of the page -->
		<p>Nicole Haynes: Attorney-at-Law</p>
	</div>
	<div id="topnav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li>|</li>
			<li><a href="/services">SERVICES</a></li>
			<li>|</li>
			<li><a href="/about">ABOUT US</a></li>
			<li>|</li>
			<li><a href="/contact">CONTACT US</a></li>
		</ul>
	</div>
	<div id="content-fullwidth"> <!-- Content area that is editable for te webpage content-->
		<h1> About Us </h1>
	</div>
	<div id="picture"> 
	</div>
</div>
	
	

<div id="bottomnav">
		<ul>
			<li><a href="/">[HOME]</a></li>
			<li>|</li>
			<li><a href="/services">[SERVICES]</a></li>
			<li>|</li>
			<li><a href="/about">[ABOUT US]</a></li>
			<li>|</li>
			<li><a href="/contact">[CONTACT US]</a></li>
		</ul>
	</div>
		<p class="footer-text">Copyright 2012 - Haynes' Law Firm - <a href="">OPH</a></p>
</div>
	
</div>
</body>
</html>